<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<title>Onshape QA Scope Test Application</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/qa.css" />

  </head>

  <script src="js/jquery.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="jquery-plugin-query-parser-master/jquery-queryParser.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/spin.js"></script>
  <script src="js/underscore-min.js"></script>
  <script src="js/index.js"></script>

   <body>
    <div id="context-table">
       <b>Session Information:</b>
        <div id="session-info">SESSION NOT POPULATED</div>
        <button class="btn btn-primary btn-sm clearfix" id="element-list-docs">List Documents</button>
        <div id="document-list"></div>
        <button class="btn btn-primary btn-sm clearfix" id="element-create-ps">Create Part Studio</button>
        <div id="create-ps"></div>
        <button class="btn btn-primary btn-sm clearfix" id="element-delete-ps">Delete Part Studio</button>
        <div id="delete-ps"></div>
        <div id="purchase">No in-app purchases supported yet</div>
    </div>
   </body>
</html>
